.*.swp

._*

.DS_Store

.git

.hg

.npmrc

.lock-wscript

.svn

.wafpickle-*

config.gypi

CVS

npm-debug.log

node_modules/

dist/luckysheet/
dist/*.map
assets/luckysheet/
src
deploy.bat
gulpfile.js
trconfig.json
.vs